*~
*.dat
*.elc
*.bak
.mc-lists.el
.org*
*custom.el
geiser-history.*
auto-save-list
ac-dict
backup
bookmarks
elpa
eshell
eww-bookmarks
help
lisp
projectile*
recentf
request
session.*
tramp
transient
url
vendor
TAGS